<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"><!-- Bootstrap CSS -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"><!-- Icons -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"><!-- Optional JavaScript -->

	<!-- Custom Chat messages stylesheet -->
	<!-- Additional Styling -->
	<link rel="stylesheet" href="{{ url_for('static', filename='chat.css') }}">

	<!-- jQuery first, then Popper.js, then Bootstrap JS -->

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js">	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js">	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">	</script>

    <!-- Handlebars template JS-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>

    <!-- Chatterbox Application Java Script Logic is all defined in JS-->
    <script src="{{ url_for('static', filename='index.js') }}">	</script>
    <title id="title">{% block title %}{% endblock %}</title>

    <!-- Channel Members-->
    <script id="s_cMembers" type="text/template">
    {% raw -%}
        <li>
             You rolled:

                  {{#each values}}
                      <img alt="{{ this }}" title="{{ this }}" src="img/{{ this }}.png">
                  {{/each}}
                  (Total: {{ total }})

              </li>
    {%- endraw %}
    </script>


    <!-- Channel Messages-->
    <script id="s_cMsgs" type="text/template">
    {% raw -%}
        <li>
             You rolled:

                  {{#each values}}
                      <img alt="{{ this }}" title="{{ this }}" src="img/{{ this }}.png">
                  {{/each}}
                  (Total: {{ total }})

              </li>
    {%- endraw %}
    </script>

    <!-- User Channels (Your Channels) -->
    <script id="s_yChannels" type="text/template">
    {% raw -%}
        <li>
             You rolled:

                  {{#each values}}
                      <img alt="{{ this }}" title="{{ this }}" src="img/{{ this }}.png">
                  {{/each}}
                  (Total: {{ total }})

              </li>
    {%- endraw %}
    </script>

    <!-- Available Channels (All Channels) -->
    <script id="s_aChannels" type="text/template">
    {% raw -%}
        <li>
             You rolled:

                  {{#each values}}
                      <img alt="{{ this }}" title="{{ this }}" src="img/{{ this }}.png">
                  {{/each}}
                  (Total: {{ total }})

              </li>
    {%- endraw %}
    </script>

</head>

    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>
